doctype 5
html
  head
    link(href='/_styles/bootstrap.css', rel='stylesheet')
    link(href='/_styles/base.css', rel='stylesheet')
    link(href='/_styles/prototype.css', rel='stylesheet')

    script(src='/_scripts/_lib/require/require-jquery.js', data-main='/_scripts/prototype/main')

  body
    .container
        .gw-container.txtalign-c.align-c.mt-10
          a(id="gw-btn-setting", class="btn btn-small pull-right mr-10 mt-10", href='#')
            i.icon-cog
            span Settings
          #gw-progress
          #gw-main.well.gw-main
