doctype 5
html
  head
   
    meta(charset="utf-8")
    title Guess word!
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  
    link(href='/_styles/bootstrap.css', rel='stylesheet')
    link(href='/_styles/base.css', rel='stylesheet')
    link(href='/_styles/prototype.css', rel='stylesheet')
    link(href='/_styles/buttons.css', rel='stylesheet')

  body
    .gw-container.txtalign-c.align-c
    script(src='/_scripts/prototype/main.js')
