doctype 5
html
  head
    link(href='/_styles/bootstrap.css', rel='stylesheet')
    link(href='/_styles/base.css', rel='stylesheet')
    link(href='/_styles/prototype.css', rel='stylesheet')

    script(src='/_scripts/_lib/require/require-jquery.js', data-main='/_scripts/prototype/main')

  body
    .container
        .gw-container.txtalign-c.align-c.mt-10
