doctype 5
html
  head
    link(href='/_styles/bootstrap.css', rel='stylesheet')
    link(href='/_styles/base.css', rel='stylesheet')
    link(href='/_styles/prototype.css', rel='stylesheet')
    link(href='/_styles/style.css', rel='stylesheet')

    script(src='/_scripts/_lib/require/require-jquery.js', data-main='/_scripts/prototype/main')

  body

    #chat
      #nickname
        form.wrap#set-nickname
          p Please type in your nickname and press enter.
          input#nick
          p#nickname-err Nickname already in use
      #connecting
        .wrap Connecting to socket.io server
      #messages
        #nicknames
        #lines
      form#send-message
        input#message
        button Send

    .container
      h1.txtalign-c.mt-15 As a UserA
      p#init.txtalign-c.mt-15 1. Init
      .gw-container.txtalign-c.align-c.mt-10
        a(id="gw-btn-setting", class="btn btn-small pull-right mr-10 mt-10", href='#')
          i.icon-cog
          span Settings
        #gw-progress
        #gw-main.well.gw-main
