body
{

}
textarea
{
	resize: vertical;
}

/* + override bootstrap */
.well
{
	margin-bottom: 0;
}
.alert
{
    padding: 8px;
}

/* + gw */
.gw-container
{
	overflow-y: auto;
}
.gw-main
{
    margin: 0 10px;
}
.gw-main textarea
{
    width: 96%;
}
.gw-explanationgrade-bar
{
	width: 100%;
	height: 6px;
	line-height: 6px;

	/* CSS3 background */
	background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#af0), to(#f00), color-stop(0.5, #f90));
}
.gw-explanationgrade
{
	width: 0%;
	height: 6px;
	line-height: 6px;
	margin-bottom: 9px;
	border-radius: 6px;
	overflow: hidden;
}
input.gw-input-letter[type="text"]
{
	width: 15px;
	text-align: center;
	font-weight: bold;
	margin: 5px 2px;
}
input.gw-input-letter[disabled],
input.gw-input-letter[readonly]
{
	cursor: default;
	background-color: #fff;
	border-color: #DDD;
}
input.gw-input-letter.warning[type="text"]
{
	color: #C09853;
	border-color: #C09853;
}
input.gw-input-blank[type="text"]
{
	padding: 4px 0;
	visibility: hidden;
	cursor: default;
}
input.gw-input-hyphen[type="text"]
{
	font-size: 18px;
	padding: 4px 0;
	border-width: 0;
	box-shadow: none;
	background-color: transparent;
	cursor: default;
}
.gw-setting-main{
	margin: 0 10px 10px 10px;
	display: none;
}
.gw-category-option{
	display: block;
	float: left;
	margin-right: 15px;
}
.gw-category-option img{
	width:35px;
	height:35px;
}
