body
{
	padding-bottom: 280px;
}
textarea
{
	resize: vertical;
}

/* + override bootstrap */
.well
{
	margin-bottom: 0;
}
.input-letter
{
    width: 18px;
    text-align: center;
    font-weight: bold;
}

/* + gw */
.gw-container
{
    width: 320px;
    height: 480px;
    border: 7px solid #000;
    border-top-width: 45px;
    border-bottom-width: 60px;
    background-color: #fff;
    border-radius: 14px;
    overflow-y: auto;
}
