body
{
	padding-bottom: 280px;
}
textarea
{
	resize: vertical;
}

/* + override bootstrap */
.well
{
	margin-bottom: 0;
}
input.gw-input-letter[type="text"]
{
	width: 15px;
	text-align: center;
	font-weight: bold;
	margin: 5px 2px;
}
input.gw-input-letter.warning[type="text"]
{
	color: #C09853;
	border-color: #C09853;
}
input.gw-input-blank[type="text"]
{
	padding: 4px 0;
	visibility: hidden;
	cursor: default;
}
input.gw-input-hyphen[type="text"]
{
	font-size: 18px;
	padding: 4px 0;
	border-width: 0;
	box-shadow: none;
	background-color: transparent;
	cursor: default;
}

/* + gw */
.gw-container
{
	width: 320px;
	height: 480px;
	border: 7px solid #000;
	border-top-width: 45px;
	border-bottom-width: 60px;
	background-color: #fff;
	border-radius: 14px;
	overflow-y: auto;
}
.gw-explanationgrade-bar
{
	width: 280px;
	height: 6px;
	line-height: 6px;

	/* CSS3 background */
	background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#af0), to(#f00), color-stop(0.5, #f90));
}
.gw-explanationgrade
{
	width: 0%;
	height: 6px;
	line-height: 6px;
	margin-bottom: 9px;
	border-radius: 6px;
	overflow: hidden;
}